<div class="hero-section" [style.background-image]="'url(' + heroImages[currentIndex] + ')'">
  <div class="hero-overlay">
    <h1 [innerHTML]="headlines[currentIndex]"></h1>
    <button mat-flat-button color="accent" routerLink="/signup/carrier">Get Started</button>
    <div class="stats">
      <div class="stat">
        <p class="accent">FREE</p>
        <p>New accounts start</p>
      </div>
      <div class="stat">
        <p class="accent">10.5 K</p>
        <p>Customer review</p>
      </div>
    </div>
  </div>
</div>
