<h2 mat-dialog-title>Cancel Subscription</h2>

<mat-dialog-content>
  <div class="cancel-warning">
    <mat-icon color="warn">warning</mat-icon>
    <p>Are you sure you want to cancel your subscription?</p>
  </div>

  <mat-radio-group [(ngModel)]="cancelImmediately" class="cancel-options">
    <mat-radio-button [value]="false" class="cancel-option">
      <div class="option-content">
        <strong>Cancel at period end</strong>
        <p>Your subscription will remain active until {{ getPeriodEndDate() }}</p>
      </div>
    </mat-radio-button>
    
    <mat-radio-button [value]="true" class="cancel-option">
      <div class="option-content">
        <strong>Cancel immediately</strong>
        <p>Your subscription will be canceled right away and access will be revoked immediately</p>
      </div>
    </mat-radio-button>
  </mat-radio-group>

  <div class="consequences">
    <h4>What happens when you cancel:</h4>
    <ul>
      <li>You will lose access to all premium features</li>
      <li>Your data will be retained for 30 days</li>
      <li>You can reactivate your subscription at any time before the period ends</li>
      <li *ngIf="!cancelImmediately">You will not be charged for the next billing cycle</li>
    </ul>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Keep Subscription</button>
  <button mat-raised-button color="warn" (click)="onConfirm()">
    {{ cancelImmediately ? 'Cancel Now' : 'Cancel at Period End' }}
  </button>
</mat-dialog-actions>
