<header class="landing-header">
  <div class="header-container">
    <div class="logo" routerLink="/">
      <span class="logo-text">CDL Ticket Management</span>
    </div>
    <nav class="main-nav">
      <ul>
        <li><a (click)="scrollToSection('services')" class="nav-link">Services</a></li>
        <li><a (click)="scrollToSection('contact')" class="nav-link contact-link">Contact us</a></li>
          <app-notification-bell></app-notification-bell>
        <li>
        
          <button mat-stroked-button class="sign-in-button" (click)="navigateToSignIn()">
            <mat-icon>person</mat-icon>
            <span>Sign in</span>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
